---
layout: page

description: "IPTV MINI"
header-img: "img/fm/05.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
<p>
    
<body>
<table width="400" border="0">
  <tr>
    <td colspan="2"><div align="right"><a href="https://hbpoon.github.io/iptv/"><strong>&lt; IPTV</strong></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=188&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV+jCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO/
OFrWyxI+tteLTJnZKT7Lg8BRYQNXMQU=
"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/hk_jade.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=12&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/hk_pearl.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://www.baitv.com/ext/tvb/tvb1/">翡翠台</a></div></td>
    <td><div align="center"><a href="http://www.baitv.com/ext/tvb/tvb2/">明珠台</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=31&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/bj_cctv5.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=36&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/bj_cctv5plus.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://www.baitv.com/ext/cctv/cctv5/">CCTV5</a></div></td>
    <td><div align="center"><a href="http://www.baitv.com/ext/cctv/cctv5-plus/">CCTV5+</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=20&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_sports.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=184&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gz_sport.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=3">廣東體育</a></div></td>
    <td><div align="center"><a href="http://www.969368.com/portal/channel_detail.jsp?channel_id=64">廣州競賽</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=08&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_pearl_river.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=235&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV+jCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO/
OFrWyxI+tteLTJnZKT7Lg8BRYQNXMQU=
"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_news.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=2">廣東珠江</a></div></td>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=6">廣東新聞</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://play.gztv.com/live/23436_dc2089877e7111e892905cb9018cf0d4.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gz_gztv.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://play.gztv.com/live/23436_e2fd8e1e7e7111e892905cb9018cf0d4.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gz_news.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://www.baitv.com/ext/gztv/gztv1/">廣州綜合</a></div></td>
    <td><div align="center"><a href="http://www.baitv.com/ext/gztv/gztv2/">廣州新聞</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=196&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_public.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=43&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV+jCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO/
OFrWyxI+tteLTJnZKT7Lg8BRYQNXMQU=
"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_satellite.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=4">廣東公共</a></div></td>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=1">廣東衛視</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=198&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV+jCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO/
OFrWyxI+tteLTJnZKT7Lg8BRYQNXMQU=
"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_tvs1.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=09&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV+jCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO/
OFrWyxI+tteLTJnZKT7Lg8BRYQNXMQU=
"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_tvs2.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=13">TVS1</a></div></td>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=14">TVS2</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://dslive.grtn.cn/4K/sd/live.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_tvs3.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=240&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_tvs4.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=16">廣東綜藝4K</a></div></td>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=17">TVS4</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=231&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_tvs5.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=130&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV+jCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO/
OFrWyxI+tteLTJnZKT7Lg8BRYQNXMQU=
"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_jiajia_cartoon.jpg" alt="" width="180" height="101" border="0" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=18">TVS5</a></div></td>
    <td><div align="center"><a href="http://epg.gdtv.cn/?c=7">嘉佳卡通</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://play.gztv.com/live/23436_8a1764ff84b211e892905cb9018cf0d4.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gz_drama.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://play.gztv.com/live/23436_b2eb109d84b211e892905cb9018cf0d4.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gz_children.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://www.baitv.com/ext/gztv/gztv4/">廣州影視</a></div></td>
    <td><div align="center"><a href="http://www.baitv.com/ext/gztv/gztv7/">廣州少兒</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://play.gztv.com/live/23436_9a1e9e7a84b211e892905cb9018cf0d4.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gz_economic.jpg" alt="" width="180" height="101" border="0" /></a></div></td>
    <td><div align="center"><a href="http://play.gztv.com/live/23436_5fe853ef84b211e892905cb9018cf0d4.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gz_life.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://www.baitv.com/ext/gztv/gztv6/">廣州經濟</a></div></td>
    <td><div align="center"><a href="http://www.969368.com/portal/channel_detail.jsp?channel_id=63">廣州生活</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=07&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_movie.jpg" alt="" width="180" height="101" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=182&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV+jCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO/
OFrWyxI+tteLTJnZKT7Lg8BRYQNXMQU=
"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/gd_fsgg.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://www.969368.com/portal/channel_detail.jsp?channel_id=123">珠江電影</a></div></td>
    <td><div align="center"><a href="http://www.baitv.com/ext/gdfs/gdfs3/">佛山公共</a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=233&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/xingkong.jpg" alt="" width="180" height="101" border="0" /></a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=202&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/iptv/logo/mtv.jpg" alt="" width="180" height="101" /></a></div></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://www.baitv.com/ext/startv/xingkong1/">星空衛視</a></div></td>
    <td><div align="center"><a href="http://www.baitv.com/ext/mtv/mtv-cn/">MTV</a></div></td>
  </tr>
</table>
</body>
</html>



<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>
    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>
    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>
    <h5>Talks</h5>
    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");
    // bind hashchange event
    window.addEventListener('hashchange', _render);
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }
    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],

    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
