---
layout: page
description: "如果很怕黑，就比黑更黑"
---



<body>
<div align="center">
  <table width="400" border="0">
    <tr>
      <td width="111" height="83"><div align="center"><a href="https://hbpoon.github.io/181215/01"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/posts/181215/FM700p.jpg" width="100" height="100" /></a></div></td>
      <td width="279">EN700PRO 換線</td>
    </tr>
  </table>
</div>
</body>
</html>
  </tr>
</table>
</body>
</html>



{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
