---
layout: page
title: "IPTV"
description: ""
header-img: "img/fm/05.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
<p>
</head>

<body>
<table width="400" border="0">
  <tr>
    <td width="60"><div align="center">序號</div></td>
    <td width="138"><div align="center">電視頻道</div></td>
    <td colspan="3"><div align="center">備用源</div></td>
  </tr>
  <tr>
    <td><div align="center">1</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227484/10000100000000060000000003928833_0.smil">廣東體育</a></div></td>
    <td width="60"><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=20&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV+jCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO/
OFrWyxI+tteLTJnZKT7Lg8BRYQNXMQU=">A</a></div></td>
    <td width="60"><div align="center"><a href="rtsp://125.88.54.18/PLTV/88888905/224/3221226934/00000100000000060000000000554903_0.smil">B</a></div></td>
    <td width="60"><div align="center"><a href="http://zikbo.lofter.com/taijuk">C</a></div></td>
  </tr>
  <tr>
    <td><div align="center">2</div></td>
    <td><div align="center"><a href="http://223.110.243.149/PLTV/3/224/3221227166/index.m3u8">CCTV-5</a></div></td>
    <td><div align="center"><a href="http://183.207.248.71/cntv/live1/HD-2500k-1080P-cctv5/HD-2500k-1080P-cctv5">A</a></div></td>
    <td><div align="center"><a href="http://121.31.30.90:8085/ysten-business/live/cctv-5/1.m3u8">B</a></div></td>
    <td><div align="center"><a href="http://223.110.241.204:6610/gitv/live1/G_CCTV-5-HQ/G_CCTV-5-HQ/">C</a></div></td>
  </tr>
  <tr>
    <td><div align="center">3</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227192/10000100000000060000000000987131_0.smil">CCTV-5+</a></div></td>
    <td><div align="center"><a href="http://223.82.250.72/live/hdcctv05plus/1.m3u8">A</a></div></td>
    <td><div align="center"><a href="http://183.207.248.71/cntv/live1/hdcctv05plus/hdcctv05plus">B</a></div></td>
    <td><div align="center"><a href="http://121.31.30.90:8085/ysten-business/live/hdcctv05plus/1.m3u8">C</a></div></td>
  </tr>
  <tr>
    <td><div align="center">4</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227073/10000100000000060000000000698847_0.smil">IPTV5+</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">5</div></td>
    <td><div align="center"><a href="http://huaweicdn.hb.chinamobile.com/PLTV/2510088/224/3221225772/index.m3u8">五星體育</a></div></td>
    <td><div align="center"><a href="rtmp://live9.yshdtv.com/live/12110_74a7a646bfa411e792905cb9018cf0d4"></a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">6</div></td>
    <td><div align="center"><a href="http://123.207.42.38/tvb.php?type=jade">TVB(HK)</a></div></td>
    <td><div align="center"><a href="rtmp://live9.yshdtv.com/live/12110_74a7a646bfa411e792905cb9018cf0d4">A</a></div></td>
    <td><div align="center"><a href="http://zikbo.lofter.com/tvbhk2">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">7</div></td>
    <td><div align="center"><a href="http://m.567it.com/jade.m3u8">翡翠台(廣東)</a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&amp;Fsv_chan_hls_se_idx=188&amp;Fsv_ctype=LIVES&amp;version=9&amp;Fsv_rate_id=1&amp;Fsv_otype=1&amp;FvSeid=5abd1660af1babb4&amp;Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&amp;Provider_id=00000000&amp;Fsv_filetype=1&amp;Fsv_ShiftEnable=0&amp;Fsv_SV_PARAM1=0&amp;Fsv_ShiftTsp=240&amp;Fsv_CMSID=00000000&amp;AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A">A</a></div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&amp;FvSeid=&amp;Pcontent_id=&amp;Provider_id=&amp;Fsv_chan_hls_se_idx=91">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">8</div></td>
    <td><div align="center"><a href="http://zikbo.lofter.com/inews">無線新聞</a></div></td>
    <td><div align="center"><a href="http://zikbo.lofter.com/inews2">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">9</div></td>
    <td><div align="center"><a href="rtmp://live9.yshdtv.com:1935/live/12110_7df34981bfa711e792905cb9018cf0d4">ViuTV</a></div></td>
    <td><div align="center"><a href="http://zikbo.lofter.com/viutv">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">10</div></td>
    <td><div align="center"><a href="rtmp://live9.yshdtv.com:1935/live/12110_a75aec7dbfa411e792905cb9018cf0d4">ViuTV6</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">11</div></td>
    <td><div align="center"><a href="https://de035ceb0768225b04e9a007abe39fca.live.prod.hkatv.com/a1_cbr_lo.m3u8">亞視A1</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">12</div></td>
    <td><div align="center"><a href="https://1c3aecd176429fae1962f229fd51b1d5.live.prod.hkatv.com/a2_cbr_lo.m3u8">亞視經典</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">13</div></td>
    <td><div align="center"><a href="http://media.fantv.hk/m3u8/archive/channel2_stream1.m3u8">奇妙電視</a></div></td>
    <td><div align="center"><a href="http://media.fantv.hk/m3u8/archive/channel2.m3u8">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">14</div></td>
    <td><div align="center"><a href="http://223.110.243.155:80/PLTV/3/224/3221226975/index.m3u8">鳳凰香港台</a></div></td>
    <td><div align="center"><a href="http://183.207.249.35/PLTV/3/224/3221226975/index.m3u8">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">15</div></td>
    <td><div align="center"><a href="http://223.110.243.155:80/PLTV/3/224/3221226922/index.m3u8">鳳凰中文台</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">16</div></td>
    <td><div align="center"><a href="http://rthklive1-lh.akamaihd.net/i/rthk31_1@167495/index_2052_av-p.m3u8">RTHK31</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">17</div></td>
    <td><div align="center"><a href="rtmp://live.hkstv.hk.lxdns.com/live/hks">HKS</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">18</div></td>
    <td><div align="center"><a href="http://60.199.188.61/HLS/WG_ETTV-N/index.m3u8">中天新闻台</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">19</div></td>
    <td><div align="center"><a href="http://60.250.23.14:18080/CtiNews/index.m3u8">東森新聞</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">20</div></td>
    <td><div align="center"><a href="http://d2e6xlgy8sg8ji.cloudfront.net/liveedge/eratv1/chunklist.m3u8">臺新聞</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">21</div></td>
    <td><div align="center"><a href="http://125.227.35.176:18080/CTS/index.m3u8">台視HD</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">22</div></td>
    <td><div align="center"><a href="http://60.250.23.14:18080/setcity/index.m3u8">三立都會台</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">23</div></td>
    <td><div align="center"><a href="https://n24-cdn-live-b.ntv.co.jp/ch01/High.m3u8">日本NEWS24</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">24</div></td>
    <td><div align="center"><a href="https://nhkwtvglobal-i.akamaihd.net/hls/live/263941/nhkwtvglobal/index_1180.m3u8">NHK WORLD</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">25</div></td>
    <td><div align="center"><a href="rtmp://23436.liveplay.myqcloud.com/live/23436_741b268384b211e892905cb9018cf0d4">廣州購物</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_741b268384b211e892905cb9018cf0d4.flv">A</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_741b268384b211e892905cb9018cf0d4.m3u8">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">26</div></td>
    <td><div align="center"><a href="rtmp://23436.liveplay.myqcloud.com/live/23436_5fe853ef84b211e892905cb9018cf0d4">廣州生活</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_5fe853ef84b211e892905cb9018cf0d4.flv">A</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_5fe853ef84b211e892905cb9018cf0d4.m3u8">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">27</div></td>
    <td><div align="center"><a href="rtmp://23436.liveplay.myqcloud.com/live/23436_9a1e9e7a84b211e892905cb9018cf0d4">廣州經濟</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_9a1e9e7a84b211e892905cb9018cf0d4.flv">A</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_9a1e9e7a84b211e892905cb9018cf0d4.m3u8">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">28</div></td>
    <td><div align="center"><a href="rtmp://23436.liveplay.myqcloud.com/live/23436_b2eb109d84b211e892905cb9018cf0d4">廣州少兒</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_b2eb109d84b211e892905cb9018cf0d4.flv">A</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_b2eb109d84b211e892905cb9018cf0d4.m3u8">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">29</div></td>
    <td><div align="center"><a href="rtmp://23436.liveplay.myqcloud.com/live/23436_e821bfc784b111e892905cb9018cf0d4">廣州競賽</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_e821bfc784b111e892905cb9018cf0d4.flv">A</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_e821bfc784b111e892905cb9018cf0d4.m3u8">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">30</div></td>
    <td><div align="center"><a href="rtmp://23436.liveplay.myqcloud.com/live/23436_dc2089877e7111e892905cb9018cf0d4">廣州綜合HD</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_dc2089877e7111e892905cb9018cf0d4.flv">A</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_dc2089877e7111e892905cb9018cf0d4.m3u8">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">31</div></td>
    <td><div align="center"><a href="rtmp://23436.liveplay.myqcloud.com/live/23436_e2fd8e1e7e7111e892905cb9018cf0d4">廣州新聞HD</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_e2fd8e1e7e7111e892905cb9018cf0d4.flv">A</a></div></td>
    <td><div align="center"><a href="http://23436.liveplay.myqcloud.com/live/23436_e2fd8e1e7e7111e892905cb9018cf0d4.m3u8">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">32</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221229854/10000100000000060000000009467088_0.smil">珠江頻道</a></div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227004/00000100000000060000000000554900_0.smil">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">33</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221226931/00000100000000060000000000554902_0.smil">公共頻道</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">34</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221226969/00000100000000060000000000554905_0.smil">廣東新聞頻道</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">35</div></td>
    <td><div align="center"><a href="http://dslive.grtn.cn/fszh/sd/live.m3u8">佛山綜合</a><a href="http://stream1.grtn.cn/ggpd/sd/live.m3u8?_upt=d987ebac1521374346"></a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">36</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227225/10000100000000060000000000990089_0.smil">嶺南戲曲</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">37</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221228082/10000100000000060000000007057113_0.smil">珠江電影</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">38</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227238/10000100000000060000000000987130_0.smil">TVS-1HD</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">39</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227007/00000100000000060000000000554908_0.smil">TVS-1</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">40</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221226975/00000100000000060000000000554907_0.smil">TVS-2</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">41</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221226940/00000100000000060000000000554911_0.smil">TVS-3</a></div></td>
    <td colspan="3"><div align="center">已轉爲廣東綜藝4K</div>      <div align="center"></div>      <div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">42</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221229713/10000100000000060000000008646185_0.smil">廣東綜藝4K</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">43</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221226937/00000100000000060000000000554910_0.smil">TVS-4</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">44</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221226989/00000100000000060000000000554886_0.smil">TVS-5</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">45</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227163/10000100000000060000000000937813_0.smil">金鷹卡通</a><a href="http://23436.liveplay.myqcloud.com/live/23436_b2eb109d84b211e892905cb9018cf0d4.flv"></a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">46</div></td>
    <td><div align="center"><a href="http://u6.gg/f7UBU">CCTV4K</a></div></td>
    <td colspan="3"><div align="center">網速、設備配置需要很高</div>      <div align="center"></div>      <div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">47</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227255/10000100000000060000000001066420_0.smil">CCTV-1</a></div></td>
    <td><div align="center"><a href="rtsp://113.136.42.45:554/PLTV/88888888/224/3221226087/10000100000000060000000001759104_0.smil">A</a></div></td>
    <td><div align="center"><a href="rtsp://61.156.185.180:554/live/ch12122514263996485740.sdp?backupagent=124.132.241.4:554&amp;vcdnid=001">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">48</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227316/10000100000000060000000001066428_0.smil">CCTV-2</a></div></td>
    <td><div align="center"><a href="rtsp://113.136.42.39:554/PLTV/88888888/224/3221226134/10000100000000060000000001794850_0.smil">A</a></div></td>
    <td><div align="center"><a href="rtsp://113.136.42.39:554/PLTV/88888888/224/3221226134/10000100000000060000000001794850_0.smil">B</a></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">49</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227046/10000100000000060000000000657994_0.smil">CCTV-3</a></div></td>
    <td><div align="center"><a href="http://223.110.241.204:6610/gitv/live1/G_CCTV-3-HQ/G_CCTV-3-HQ/">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">50</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227284/10000100000000060000000001066429_0.smil">CCTV-4</a></div></td>
    <td><div align="center"><a href="http://223.110.241.204:6610/gitv/live1/G_CCTV-4-HQ/G_CCTV-4-HQ/">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">51</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221226991/10000100000000060000000000657996_0.smil">CCTV-6</a></div></td>
    <td><div align="center"><a href="http://223.110.241.204:6610/gitv/live1/G_CCTV-6-HQ/G_CCTV-6-HQ/">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">52</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227290/10000100000000060000000001066434_0.smil">CCTV-7</a></div></td>
    <td><div align="center"><a href="http://223.110.241.204:6610/gitv/live1/G_CCTV-7-HQ/G_CCTV-7-HQ/">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">53</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227041/10000100000000060000000000657998_0.smil">CCTV-8</a></div></td>
    <td><div align="center"><a href="http://223.110.241.204:6610/cntv/live1/HD-2500k-1080P-cctv8/HD-2500k-1080">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">54</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227272/10000100000000060000000001030757_0.smil">CCTV-9</a></div></td>
    <td><div align="center"><a href="http://223.110.245.161/ott.js.chinamobile.com/PLTV/3/224/3221225868/index.m3u8">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">55</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227287/10000100000000060000000001066432_0.smil">CCTV-10</a></div></td>
    <td><div align="center"><a href="http://223.110.241.204:6610/gitv/live1/G_CCTV-10-HQ/G_CCTV-10-HQ/">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">56</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227319/10000100000000060000000001066511_0.smil">CCTV-11</a></div></td>
    <td><div align="center"><a href="http://223.110.245.153/ott.js.chinamobile.com/PLTV/3/224/3221227384/index.m3u8">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">57</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227313/10000100000000060000000001066425_0.smil">CCTV-12</a></div></td>
    <td><div align="center"><a href="http://223.110.245.163/ott.js.chinamobile.com/PLTV/3/224/3221225556/index.m3u8">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">58</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227258/10000100000000060000000001066424_0.smil">CCTV-13</a></div></td>
    <td><div align="center"><a href="http://223.110.245.170/ott.js.chinamobile.com/PLTV/3/224/3221225560/index.m3u8">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">59</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227278/10000100000000060000000001066421_0.smil">CCTV-14</a></div></td>
    <td><div align="center"><a href="http://223.110.245.170/ott.js.chinamobile.com/PLTV/3/224/3221227201/index.m3u8">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">60</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227281/10000100000000060000000001066427_0.smil">CCTV-15</a></div></td>
    <td><div align="center"><a href="http://117.169.72.6:8080/ysten-businessmobile/live/cctv-15/1.m3u8">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">61</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227105/10000100000000060000000000937805_0.smil">北京衛視</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">62</div></td>
    <td><div align="center"><a href="rtsp://113.136.42.39:554/PLTV/88888888/224/3221226085/10000100000000060000000001759102_0.smil">湖南衛視</a></div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227325/10000100000000060000000001141345_0.smil?icpid=88888888&amp;from=188&amp;hms_devid=71624&amp;online=1539401707">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">63</div></td>
    <td><div align="center"><a href="rtsp://113.136.42.39:554/PLTV/88888888/224/3221226088/10000100000000060000000001759097_0.smil">浙江衛視</a></div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227137/10000100000000060000000000937809_0.smil">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">64</div></td>
    <td><div align="center"><a href="rtsp://113.136.42.40:554/PLTV/88888888/224/3221226090/10000100000000060000000001759099_0.smil">江蘇衛視</a></div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227160/10000100000000060000000000937810_0.smil">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">65</div></td>
    <td><div align="center"><a href="rtsp://113.136.42.40:554/PLTV/88888888/224/3221226129/10000100000000060000000001794852_0.smil">安徽衛視</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">66</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227346/10000100000000060000000003100521_0.smil">天津衛視</a></div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227346/10000100000000060000000003100521_0.smil">A</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">67</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227218/10000100000000060000000000988525_0.smil">廣東衛視</a><a href="http://116.199.5.51:8114/00000000/index.m3u8?Fsv_cid=&amp;Fsv_chan_hls_se_idx=33&amp;Fsv_ctype=LIVES&amp;version=&amp;Fsv_rate_id=&amp;Fsv_otype=&amp;FvSeid=&amp;Pcontent_id=&amp;Provider_id=&amp;Fsv_filetype=&amp;Fsv_ShiftEnable=&amp;Fsv_SV_PARAM1=&amp;Fsv_ShiftTsp=&amp;Fsv_CMSID=&amp;AuthInfo"></a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">68</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227267/10000100000000060000000001141334_0.smil">深圳衛視</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">69</div></td>
    <td><div align="center"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&amp;FvSeid=&amp;Pcontent_id=&amp;Provider_id=&amp;Fsv_chan_hls_se_idx=96">星空衛視</a><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227218/10000100000000060000000000988525_0.smil"></a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">70</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221228304/10000100000000060000000008188821_0.smil">粵TV4K</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">71</div></td>
    <td><div align="center"><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227997/10000100000000060000000006912176_0.smil">愛上4K</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">72</div></td>
    <td><div align="center"><a href="https://m2otv-lh.akamaihd.net/i/m2oTv_1@186074/master.m3u8">m2o Tv</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">73</div></td>
    <td><div align="center"><a href="http://wfc.bonus-tv.ru:80/cdn/wfcint/tracks-v1a1/index.m3u8">WFC</a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">74</div></td>
    <td><div align="center"><a href="https://fash1043.cloudycdn.services/slive/_definst_/ftv_ftv_midnite_k1y_27049_midnite_secr_108_hls.smil/playlist.m3u8">Ffashion TV</a><a href="rtsp://183.58.12.204/PLTV/88888905/224/3221227997/10000100000000060000000006912176_0.smil"></a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">75</div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">76</div></td>
    <td><div align="center"><a href="https://m2otv-lh.akamaihd.net/i/m2oTv_1@186074/master.m3u8"></a></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">77</div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">78</div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">79</div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><div align="center">80</div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td colspan="5"><div align="center"><a href="https://potplayer.daum.net/">PotPlayer</a>播放器(Windows) / <a href="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/apk/mpv.apk">MPV</a>播放器(Android)</div></td>
  </tr>
</table>
</body>
</html>


<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>
    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>
    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>
    <h5>Talks</h5>
    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");
    // bind hashchange event
    window.addEventListener('hashchange', _render);
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }
    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],

    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
