---
layout: page
title: "Media"
description: ""
header-img: "img/bg3.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
<p>
</head>



    
    
<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣東體育</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://125.88.67.16:30001/PLTV/88888905/224/3221227484/10000100000000060000000003928833_0.smil"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GDPE.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center"><input type="text" size="20" id="url" value="http://125.88.67.16:30001/PLTV/88888905/224/3221227484/10000100000000060000000003928833_0.smil">
<script type="text/javascript">
function copyUrl(){
 var url = document.getElementById("url").value;
 window.clipboardData.setData("Text",url);
 alert("复制链接成功！");
}
</script>
<input type="button" value="复制链接" onClick="url.select();document.execCommand('Copy')">
    </div></td>
  </tr>
</table>
</body>
</html>

<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣東體育(2)</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/00000000/index.m3u8?Fsv_cid=&Fsv_chan_hls_se_idx=15&Fsv_ctype=LIVES&version=&Fsv_rate_id=&Fsv_otype=&FvSeid=&Pcontent_id=&Provider_id=&Fsv_filetype=&Fsv_ShiftEnable=&Fsv_SV_PARAM1=&Fsv_ShiftTsp=&Fsv_CMSID=&AuthInfo"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GDPE.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">有延遲</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣東體育（3）</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&amp;FvSeid=&amp;Pcontent_id=&amp;Provider_id=&amp;Fsv_chan_hls_se_idx=15"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GDPE.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">有延遲</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">五星體育</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://huaweicdn.hb.chinamobile.com/PLTV/2510088/224/3221225772/index.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/5S.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">延遲2分鐘左右</div></td>
  </tr>
</table>
</body>
</html>








<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">CCTV-5</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://223.110.243.149/PLTV/3/224/3221227166/index.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/cctv5.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">CCTV-5+</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://14.29.6.242:30001/PLTV/88888905/224/3221227192/10000100000000060000000000987131_0.smil"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/cctv5p.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center"><input type="text" size="20" id="url" value="http://14.29.6.242:30001/PLTV/88888905/224/3221227192/10000100000000060000000000987131_0.smil">
<script type="text/javascript">
function copyUrl(){
 var url = document.getElementById("url").value;
 window.clipboardData.setData("Text",url);
 alert("复制链接成功！");
}
</script>
<input type="button" value="复制链接" onClick="url.select();document.execCommand('Copy')">
  </tr>
</table>
</body>
</html>





<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">翡翠台</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&Fsv_chan_hls_se_idx=30&Fsv_ctype=LIVES&version=9&Fsv_rate_id=1&Fsv_otype=1&FvSeid=5abd1660af1babb4&Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&Provider_id=00000000&Fsv_filetype=1&Fsv_ShiftEnable=0&Fsv_SV_PARAM1=0&Fsv_ShiftTsp=240&Fsv_CMSID=00000000&AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvb.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">廣東版</div></td>
  </tr>
</table>
</body>
</html>

<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">翡翠台2</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://m.567it.com/jade.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvb.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">廣東版</div></td>
  </tr>
</table>
</body>
</html>



<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">TVB</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://pulllive-al.wasu.cn/live/6b318893285ee18bfe3b88f4e9c5cc42.m3u8?k=98B59897BE213AAFC6819487"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvbhk.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不定期更新，香港版</div></td>
  </tr>
</table>
</body>
</html>

    <table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">ViuTV</div></td>
  </tr>
  <tr>
    <td height="237"><a href="rtmp://al3-flv.live.huajiao.com:1935/live/1530693798?k=98B59897BE213AAFC6819487"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/viutv.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不定期更新</div></td>
  </tr>
</table>
</body>
</html>

<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">無綫新聞</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://edge20-1.edgeware.hk4.tvb.com/session/bfc36936-87d4-11e8-9dad-0050569023d7/qh33qv/newslive/smil:mobilehd_inews.smil/playlist.m3u8?token=bc263d05530ed89bc1ca524b2518b348_1531707245_1531707245"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/inews.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不定期更新</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">奇妙電視</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://media.fantv.hk/m3u8/archive/channel2.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/FANTV.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">穩定</div></td>
  </tr>
</table>
</body>
</html>







<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣州台</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=1"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/gz.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣州新聞</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=2"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GZXW.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣東珠江</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=16"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GDZJ.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣東公共</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=17"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GDGG.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">佛山公共</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=24"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/FSGG.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">珠江電影</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=23"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GJDY.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">TVS-1</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://125.88.54.18:30001/PLTV/88888956/224/3221227651/index.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvs1.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">TVS-2</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=20"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvs2.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">TVS-3</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=21"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvs3.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">TVS-4</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=22"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvs4.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">TVS-5</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&FvSeid=&Pcontent_id=&Provider_id=&Fsv_chan_hls_se_idx=26"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvs5.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>






<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">愛上4K</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://125.88.94.135:30001/PLTV/88888905/224/3221227997/10000100000000060000000006912176_0.smil"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/L4K.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center"><input type="text" size="20" id="url" value="http://125.88.94.135:30001/PLTV/88888905/224/3221227997/10000100000000060000000006912176_0.smil">
<script type="text/javascript">
function copyUrl(){
 var url = document.getElementById("url").value;
 window.clipboardData.setData("Text",url);
 alert("复制链接成功！");
}
</script>
<input type="button" value="复制链接" onClick="url.select();document.execCommand('Copy')">
  </tr>
</table>
</body>
</html>




<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>
    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>
    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>
    <h5>Talks</h5>
    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");
    // bind hashchange event
    window.addEventListener('hashchange', _render);
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }
    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
