---
layout: page
title: "Media"
description: ""
header-img: "img/bg3.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">
<p>
</head>

<p>
<body>

<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣東體育</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/LIVES/index.m3u8?Fsv_otype=1&amp;FvSeid=&amp;Pcontent_id=&amp;Provider_id=&amp;Fsv_chan_hls_se_idx=15"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GDPE.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">延遲，世界盃直播期間可能無法播放。
    </div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣東體育（2）</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://125.88.67.16:30001/PLTV/88888905/224/3221227484/10000100000000060000000003928833_0.smil"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GDPE2.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">世界盃直播期間冇信號，需要長按複製連接到播放器</div></td>
  </tr>
</table>
</body>
</html>

<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣東體育(3)</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://hls.live.ewqok.cn/888/9512684/index.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GDPE.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不定期更新</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">CCTV-5</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://124.224.238.170/PLTV/88888888/224/3221225890/10000100000000060000000000725782_0.smil"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/cctv5.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">需要長按複製連接到播放器</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">CCTV-5+</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://14.29.6.242:30001/PLTV/88888905/224/3221227192/10000100000000060000000000987131_0.smil"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/cctv5p.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">需要長按複製連接到播放器</div></td>
  </tr>
</table>
</body>
</html>





<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">翡翠台</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://116.199.5.51:8114/00000000/2e368e04c76446bc9d30ca7a9f934dae/index.m3u8?Fsv_cid=1034&Fsv_chan_hls_se_idx=30&Fsv_ctype=LIVES&version=9&Fsv_rate_id=1&Fsv_otype=1&FvSeid=5abd1660af1babb4&Pcontent_id=7f88be5fb6fd426494f6aa240f1dc7a9&Provider_id=00000000&Fsv_filetype=1&Fsv_ShiftEnable=0&Fsv_SV_PARAM1=0&Fsv_ShiftTsp=240&Fsv_CMSID=00000000&AuthInfo=P2ZSH2gNMZ8aiVfV%2BjCYczoGsAYoDo4KY5I3eHfJhGTKdSzgLwCHoSet9it9fXrMLwehJxh9gmO%2F%0AOFrWyxI%2BtteLTJnZKT7Lg8BRYQNXMQU%3D%0A"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvb.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">TVB</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://pulllive-al.wasu.cn/live/46e48f30aab8e7ab1b8951f55e9c83f5.m3u8?k=98B59897BE213AAFC6819487"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/tvbhk.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不定期更新</div></td>
  </tr>
</table>
</body>
</html>



<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">ViuTV</div></td>
  </tr>
  <tr>
    <td height="237"><a href="rtmp://al1-hls.live.huajiao.com:1935/live/1529330229?k=98B59897BE213AAFC6819487.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/viutv.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">不定期更新</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">廣東珠江</div></td>
  </tr>
  <tr>
    <td height="237"><a href="rtsp://125.88.54.18/PLTV/88888905/224/3221227004/00000100000000060000000000554900_0.smil"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/GDZJ.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">愛上4K</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://125.88.94.135:30001/PLTV/88888905/224/3221227997/10000100000000060000000006912176_0.smil"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/L4K.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">穩定</div></td>
  </tr>
</table>
</body>
</html>


<table width="400" height="311" border="0">
  <tr>
    <td width="397"><div align="center">鬆視2</div></td>
  </tr>
  <tr>
    <td height="237"><a href="http://59.124.220.46:554/live/tv284198321.stream/index.m3u8"><img src="https://raw.githubusercontent.com/hbpoon/hbpoon.github.io/master/img/ss2.jpg" width="400" height="400" /></a></td>
  </tr>
  <tr>
    <td><div align="center">18+</div></td>
  </tr>
</table>
</body>
</html>



<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>
    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>
    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>
    <h5>Talks</h5>
    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");
    // bind hashchange event
    window.addEventListener('hashchange', _render);
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }
    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
